*.iml
/.gradle/
/.gradle/*
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/*
/.github/*
/.github/
/.kotlin/
/.kotlin/*
.DS_Store
/build/
/build/*
/app/build/*
/app/build/

/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/sessions/kotlin-compiler-7232848997283179586.salive
/project_context_for_ai_*.txt
/opencv/build/generated/source/buildConfig/debug/org/opencv/BuildConfig.java
/opencv/java/javadoc/
/opencv/build/
/app/release/app-release.aab
Android/
