*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.PoolProtractor_Full_Archive.txt
.PoolProtractor-Lite_Full_Archive.txt
.archive-it.ps1
/.kotlin
/app/src/androidTest
/app/src/test
PoolProtractor_Full_Archive.txt
