<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
      The uses-feature tags are for Google Play Store filtering.
      Setting 'required' to 'false' makes the app available to more devices,
      while the runtime checks in MainActivity handle devices that don't support AR.
    -->
    <uses-feature android:name="android.hardware.camera.ar" android:required="false" />
    <uses-feature android:name="android.hardware.xr.spatial" android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- Required for AR passthrough -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".di.CueDetatApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CueDetat"
        tools:targetApi="31">

        <!--
          This meta-data tag is required by ARCore at runtime to initialize the session.
          'required' means the app cannot function without AR.
        -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CueDetat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <property
                android:name="android.window.PROPERTY_XR_ACTIVITY_START_MODE"
                android:value="XR_ACTIVITY_START_MODE_FULL_SPACE_MANAGED" />

        </activity>
    </application>

</manifest>